[[bin]]
name = "esthri"
path = "src/main.rs"

[package]
name = "esthri"
version = "3.0.2"
authors = ["Jason Mobarak <jason@swift-nav.com>"]
edition = "2018"

[dependencies]
rusoto_core = ">= 0.43, < 1"
rusoto_s3 = ">= 0.43, < 1"
rusoto_credential = ">= 0.43, < 1"
once_cell = "1.4"
rust-crypto = "0.2"
hex = "0.4"
structopt = "0.3"
clap = "2.33"
walkdir = "2"
glob = "0.3"
thiserror = "1.0"
log = "0.4"
env_logger = "0.7"
tokio = "0.2"
hyper = "0.13.7"
hyper-tls = "0.4.3"
log-derive = "0.4.1"
futures = "0.3.5"
backoff = { version = "0.2.1", features = ["tokio"] }
eyre = "0.6.0"
stable-eyre = "0.2.1"

[dev-dependencies]
md5 = "0.7"

[lib]
name = "esthri_lib"
path = "src/lib.rs"

[features]
default = []
aggressive_lint = []

[dependencies.ctrlc]
version = "3.1"
features = ["termination"]
