[package]
name = "esthri"
version = "0.1.0"
authors = ["Jason Mobarak <jason@swift-nav.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
rusoto_core = "0.41"
rusoto_s3 = "0.41"
ctrlc = { version = "3.1", features = ["termination"] }
once_cell = "1.2"
rust-crypto = "0.2"
hex = "0.4"
structopt = "0.3"
clap = "2.33"
walkdir = "2"
glob = "0.3"
anyhow = "1.0"
thiserror = "1.0"
