[[bin]]
name = "esthri"
path = "src/main.rs"

[package]
name = "esthri"
version = "2.1.3"
authors = [ "Jason Mobarak <jason@swift-nav.com>",]
edition = "2018"

[dependencies]
rusoto_core = "0.44"
rusoto_s3 = "0.44"
rusoto_credential = "0.44"
once_cell = "1.4"
rust-crypto = "0.2"
hex = "0.4"
structopt = "0.3"
clap = "2.33"
walkdir = "2"
glob = "0.3"
anyhow = "1.0"
thiserror = "1.0"
log = "0.4"
env_logger = "0.7"
tokio = "0.2"
hyper = "0.13.6"
hyper-tls = "0.4.3"

[dev-dependencies]
md5 = "0.7"

[lib]
name = "esthri_lib"
path = "src/lib.rs"

[features]
default = []
aggressive_lint = []

[dependencies.ctrlc]
version = "3.1"
features = [ "termination",]

[dependencies.log-derive]
git = "https://github.com/elichai/log-derive.git"
rev = "a6431c4bce0cca55d042ec86e2939894233c0cc3"
